.vsc-initialized {
  background-color: black;
}
h1 {
  font-weight: 900;
  text-align: center;
  background-color: #8fc8d4;
  border: 3px solid greenyellow;
  border-radius: 30px;
}

body {
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hide {
  display: none;
}

.show {
  font-weight: 500;
}

.container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #8fc8d4;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 3px solid greenyellow;
  border-radius: 30px;
}

.charName {
  font-size: 26px;
  font-weight: 800;
}

.image-class {
  /* box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4); */
  border: 12px solid #8fc8d4;
  border-radius: 30px;
  aspect-ratio: auto;
  max-width: calc(100% - 24px);
  display: block;
  margin: 0 auto;
}

button {
  font-size: 18px;

  font-weight: 700;
  margin-top: 15px;
  padding: 5px;
  color: rgb(59, 91, 11);
  background-color: greenyellow;
  border-radius: 5px;
  border: 2px solid rgb(59, 91, 11);
}

article {
  margin-bottom: 8px;
}

#like-count {
  margin-right: 10px;
  font-weight: 700;
  color: black;
}

#createNewCharacterCard {
  display:flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}
h4{
  color:white
}
label {
  color: white;
  margin-bottom: 5px;
}

input, textarea{
  margin-bottom: 10px;
}



