
.container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #8fc8d4;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
  }
.image__image{

}
